*.arh
*.gjl
*.iym
*~
Projects/*.cydsn/Cortex*/*
Projects/*.cydsn/Export/*
Projects/*.cydsn/Generated_Source
Projects/*.cydsn/codegentemp
.DS_Store
Projects/Backup
Projects/Archive
*.old
*.old.*
*.old*
~*
